<nav>
    <div class="logo">
        <h4>Tech Blog</h4>
    </div>
    <!--Nav Bar-->
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="./login.handlebars">Login</a></li>
    </ul>
    <!--Nav bar icon for mobile-->
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div id="about" class="carousel"></div>

<main>
    <section id="work" class="service">
        <div class="logo1">
            <h2>Make a Post<br> </h2>
        </div>
        

     
    </section>
    {{!-- footer --}}
    <footer>
        <h2> ❤️️ by Diamond Lee</h2>
        <p>
            &copy; 2021 We In Dis!
        </p>
    </footer>

</main>