footer {
    padding: 30px;
    clear: both;
    font-family: futura-pt, sans-serif;
   font-weight: 300;
   font-style: normal;
    text-align: center;
    background-color: cadetblue;
    color: rgb(255, 252, 240);
}

footer h2 {
    font-size: 20px;
    padding-bottom: 20px;
    
}
